CD2_CONTAINER_NAME=clouddrive2-dev
CD2_IMAGE_TAG=latest
CD2_TIMEZONE=Asia/Shanghai
CD2_WEB_PORT=29798
CD2_CONFIG_VOLUME=clouddrive2-dev-config
CD2_CLOUDNAS_VOLUME=clouddrive2-dev-cloudnas
CD2_MEDIA_VOLUME=clouddrive2-dev-media
